// colors
$mainbackground: #14141c;
$assentBackground: #242431;
$scrollThumb: #383842;
$scrollThumbHover: #33333f;

// sizes
$maxWidth: 1920px;
$minWidth: 320px;
$headerHeight: 80px;
$headerHeight640: 65px;
$headerHeight425: 50px;
